levelbar .weak {
  background-color: #cc0000;
  border-color: #cc0000;
}

levelbar .low {
  background-color: #f5ce00;
  border-color: #f5ce00;
}

levelbar .medium,
levelbar .good,
levelbar .high {
  background-color: #73d216;
  border-color: #73d216;
}

